@model WebApplication6.Models.EServicios

@{
    ViewBag.Title = "create";
    var listaespecialida = (SelectList)ViewBag.ListaEspecialidad;
    var listaempres = (SelectList)ViewBag.ListaEmpresa;
    var listased = (SelectList)ViewBag.ListaSede;
    var listatipotarifa = (SelectList)ViewBag.ListaTipoTarifa;
    var lista = (List<WebApplication6.Models.EServicios>)ViewBag.session;
}

<h2>create</h2>

<form method="post" action="">

    <div class="col-md-6">
        <div class="form-horizontal">
            <h4>EServicios</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.codServicio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.ValidationMessageFor(model => model.codServicio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.nomServicio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nomServicio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nomServicio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CodEspec, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CodEspec", listaespecialida, "[NO SELECCIONADO]", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CodEspec, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CodEmp, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CodEmp", listaempres, "[NO SELECCIONADO]", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CodEmp, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.codSed, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("codSed", listased, "[NO SELECCIONADO]", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.codSed, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Estado)
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>




    <div class="col-md-6">
        <br /><br /><br /><br />
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button>



        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Tipo Tarifa</label>
                                    <select class="form-control" name="codTipTar" id="codTipTar"></select>
                                </div>
                                <div class="col-md-6">
                                    <label>Porcentaje</label>
                                    <input type="text" class="form-control" name="porcentaje" />
                                </div>

                                <div class="col-md-offset-5">
                                    <button type="submit" class="btn btn-default" name="evento" value="1">Registrar</button>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Descripcion</th>
                                            <th>Porcentaje</th>
                                            <th>Eliminar</th>

                                        </tr>

                                    </thead>
                                    <tbody>
                                        @if (lista != null)
                                            {
                                                foreach (var item in lista)
                                                {
                                    <tr>
                                        <td>@item.codTipTar</td>
                                        <td>@item.descTipTar</td>
                                        <td>@item.porcentaje</td>
                                        <td><button type="submit" class="btn btn-danger" name="borrar" value="2,@item.codTipTar">Eliminar</button></td>

                                    </tr>

                                                }

                                            }

                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>




<div>
    @Html.ActionLink("Back to List", "ListaServicios")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>

    $(document).ready(function () {
        debugger;
        $.get('@Url.Action("getlista", "Servicios")', {},
            function (response) {

                var select = $("#codTipTar");
                select.find('option').remove();
                $('<option>').val("null").text("[NO SELECCIONADO]").appendTo(select);
                $.each(response, function (index, value) {
                    $('<option>').val(value.codTipTar).text(value.descTipTar).appendTo(select);
                });
            });
        var model = "@ViewBag.model";
        if (model != "") {
            $("#exampleModal").modal("show");

        }
    });

</script>
