@model WebApplication6.Models.EServicios

@{
    ViewBag.Title = "edit";
    var listaservicioTipoTarifa = (List<WebApplication6.Models.EServicioTipoTarifa>)ViewBag.listaservicioTipoTarifa;
    var listaespecialida = (SelectList)ViewBag.ListaEspecialidad;
    var listaempres = (SelectList)ViewBag.ListaEmpresa;
    var listased = (SelectList)ViewBag.ListaSede;
}

<h2>edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-lg-6">
        <div class="form-horizontal ">
            <h4>EServicios</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.codServicio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.codServicio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.codServicio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.nomServicio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nomServicio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nomServicio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CodEspec, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CodEspec", listaespecialida, "[NO SELECCIONADO]", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CodEspec, "", new { @class = "text-danger" })
                </div>
            </div>
         
            <div class="form-group">
                @Html.LabelFor(model => model.CodEmp, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                   @Html.DropDownList("CodEmp", listaempres, "[NO SELECCIONADO]", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CodEmp, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.codSed, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("codSed", listased, "[NO SELECCIONADO]", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.codSed, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Estado)
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

    

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-horizontal">
            <br />
            <br />
            <br />
            <table class="table">
                <tr>
                    <th>
                  Codigo
                    </th>
                    <th>
                  Descripcion
                    </th>
                    <th>
                  Porcentaje
                    </th>
                   

                </tr>

                @foreach (var item in listaservicioTipoTarifa)
                {
                    <tr>
                        <td>
                            @item.codTipTar
                        </td>
                        <td>
                            @item.Descripcion
                        </td>
                        <td>
                            @item.porcentaje
                        </td>
                                            
                      </tr>
                }

            </table>
        </div>
    </div>

        
        }

        <div>
            @Html.ActionLink("Back to List", "ListaServicios")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
